*.log
*.txt
.dockerignore
.gihub
.git
.gitignore
.idea
.jshintrc
.nyc_output
.project
.sass-lint.yml
.settings
.snyk
.tmp
CONTRIBUTING.md
Dockerfile
Jenkinsfile
build-local.sh
coverage
env.sh
logs/**/*
build/
node_modules
node_modules_local
pacts
test